.intro-container {
    background-color: $backGroundColorPrimary;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px 20px 50px 20px;

    &-title {
        font-size: 24px;
        font-weight: bold;
    }

    &-txt {
        margin: 10px 0px;
        font-size: 18px;
        font-weight: 300;

    }

    &-btn {
        margin-top: 25px;

    }
}

.how-container {
    background-color: white;
    height: 400px;

    &-title {
        margin: 48px 80px 20px 30px;
        font-size: 24px;
        font-weight: 700;

    }

    &-cards {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: auto;


        &-card {
            background-color: $backGroundColorPrimary;
            height: 72px;
            width: 90%;
            display: flex;
            margin: 15px;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            position: relative;

            &:hover {

                #store,
                #list-ul,
                #mobile-screen-button {
                    fill: #9356DC;
                }
            }



            &-icon {
                position: relative;
                right: 15px;
                width: 18px;
                height: 19px;
            }

            &-txt {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 16px;
                font-weight: bold;

            }

            &-number {
                width: 24px;
                height: 24px;
                background-color: var(--Primary, #9356DC);
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 14.182px;
                border-radius: 25px;
                position: absolute;
                left: -12px;

            }
        }
    }
}

.restaurant-container {
    height: 1230px;
    background-color: $backGroundColorPrimary;
    width: 100%;


    &-title {

        padding-top: 20px;
        margin: 48px 80px 0px 30px;
        font-size: 24px;
        font-weight: 700;

    }

    &-cards {
        height: 1000px;
        width: 90%;
        margin: auto;


        &-item {
            width: 100%;
            height: 251px;
            border-radius: 15px;

            &-box {
                position: relative;

                &-img {
                    width: 100%;
                    height: 200px;
                    border-radius: 15px;
                    object-fit: cover;


                }

                &-new {
                    width: 80px;
                    height: 29px;
                    background-color: #99E2D0;
                    color: #008766;
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            &-contain {
                margin: 5px 0px 5px 10px;
                color: black;
                position: relative;
                line-height: 7px;

                &-title {
                    font-size: 18px;
                }

                &-txt {
                    font-size: 17px;
                    font-weight: 300;
                    padding-bottom: 20px;
                }

                &-heart {

                    position: absolute;
                    bottom: 20px;
                    right: 30px;

                }
            }

        }

    }
}


article {
    margin: 20px;
    background-color: white;
    border-radius: 15px;
}


@media (min-width: $mediaQueriesTablet) {

    .how-container {
        height: 428.38px;

        &-title {
            margin-left: 100px;
        }

        &-cards {
            flex-direction: column;
            margin: 50px 100px;
        }
    }

    .restaurant-container {
        height: 830px;

        &-title {
            margin-left: 120px;
        }

        &-cards {

            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin: auto;
            height: 650px;
            gap: 5px;




            &-item {

                width: calc(43% - 30px);

                &-contain {
                    &-title {
                        margin: 16px;
                    }

                    &-txt {
                        margin: 16px;
                    }
                }
            }
        }
    }

    .card-1,
    .card-3 {
        margin-right: 25px;
    }
}

@media (min-width: $mediaQueriesDesktop) {

    .how-container {
        height: 223px;



        &-cards {
            flex-direction: row;
            margin: 50px 100px;
        }
    }
}