body{
    margin: 0;
}

.intro{
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 275px;
    width: 100%;

    &-img{
        height: 275px;
        width: 100%;
        object-fit: cover;
    }
}

.container-menu{
    height: 100%;
    background-color:  $backGroundColorPrimary;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    margin-top: -50px;
    padding-bottom: 50px;

 
   
    &-intro{
        // background-color: red;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: $fontFamilyTitle;
        margin-top: 30px;
        
        &-title{
            margin-left: 20px;
        }
        
        &-heart{
            margin-right: 20px;
        }

    }

    .section-4{
        height: 390px;
    }
    &-section{
        height: 300px;
        // margin-bottom: 40px;
        // background-color: red;
        margin-bottom: 30px;

        &-title{
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            text-transform: uppercase;
            margin-left: 20px;
        }

        &-card{
            // background-color: aqua;
            display: flex;
            justify-content: space-between;
            height: 69px;
            box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.10);
            position: relative;
            
            &:hover{
                cursor: pointer;
            }
            



            .hover-container {
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                width: 0; 
                border-radius: 0 15px 15px 0;
                background-color: #99E2D0; 
                overflow: hidden;  
                transition: width 0.3s ease;  
                display: flex;
                align-items: center;
                justify-content: center; 
            }
        
            &:active {
                .hover-container {
                    width: 59px; 
                }
        
                .container-menu-section-card-price {
                    transform: translateX(-50px);  // Push the price to the left by the width of the hover container
                }
                
                
            }









            &-content{
                // background-color: green;
                padding: 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                // align-items: center;
                line-height: 1px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                // width: 100%;

                // text-align: left;

                // &-title{
                //     max-width: 300px;
                  
                //     white-space: nowrap;
                //     text-overflow: ellipsis;
                    
                
                // }
                // &-txt{
                    
                //     white-space: nowrap;
                //     text-overflow: ellipsis
                // }
            }
            &-price{
                display: flex;
                flex-direction: column-reverse;
                padding: 15px;
            }
        }
    }

    &-btn{
        width: 30%;
        margin: auto;
    }
}















.hover-container img {
    transition: transform 0.3s ease;
}

.container-menu-section-card:active .hover-container img {
    transform: rotate(360deg);
}





@media (min-width: 1250px) {

    .intro{
        height: 343px;
    }
    .container-menu{
        width: 60%;
        height: 1270px;
       
        margin: auto;
        margin-top: -50px;
    }
}



