body {
    margin: 0;
}

.intro {

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 275px;
    width: 100%;

    &-img {
        height: 275px;
        width: 100%;
        object-fit: cover;
    }
}

.container-menu {
    height: 100%;
    background-color: $backGroundColorPrimary;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    margin-top: -50px;
    padding-bottom: 50px;
    


    &-intro {
        // background-color: red;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: $fontFamilyTitle;
        margin-top: 30px;

        &-title {
            margin-left: 20px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &-heart {
            margin-right: 20px;
        }

    }

    .section-4 {
        height: 390px;
    }

    &-section {
        height: 300px;

        margin-bottom: 30px;
       


        &-title {
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            text-transform: uppercase;
            margin-left: 20px;

        }

        &-card {
            // background-color: aqua;
            display: flex;
            justify-content: space-between;
            height: 69px;
            box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.10);
            position: relative;
         

            

            &:hover {
                cursor: pointer;

            }


 





            &-content {

                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                line-height: 29px;
                // white-space: nowrap;
                // overflow: hidden;
                // text-overflow: ellipsis;
                max-width: 70%;
             
                &-title{
                    margin: 12px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 100%;
                    margin: 0;
                    // line-height: normal; 
                    
                }

                &-txt{
                    margin: 12px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 100%;
                    margin: 0; 
                    // line-height: normal; 
                }
           
            
            }

            &-price {
                display: flex;
                flex-direction: column-reverse;
                padding: 12px;
                font-weight: bold;
            }
        }
    }

    &-btn {
        width: 30%;
        margin: auto;
    }
}




@media (min-width: $mediaQueriesTablet) {

    .intro {
        height: 343px;
    }

    .container-menu {
        width: 60%;
        height: 1270px;

        margin: auto;
        margin-top: -50px;
    }


    .container-menu-section-card {
        &:hover {
            .hover-container {
                width: 59px;
            }

            .container-menu-section-card-price {
                transform: translateX(-50px);
            }
        }


    }

    .container-menu-section-card:hover .hover-container img {
        transform: rotate(360deg);
    }


}