@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
.btn-explore {
  height: 35px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  border-radius: 25px;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  padding: 5px 20px;
}
.btn-explore:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

.arrow {
  position: absolute;
  left: 20px;
  top: 20px;
  visibility: visible;
}

.heart {
  width: 23px;
  height: 21px;
  fill: white;
  stroke: #101010;
  transition: fill 3s ease;
}
.heart:hover {
  cursor: pointer;
}
.heart:active {
  fill: #FF79DA;
}
@media (min-width: 1025px) {
  .heart:hover {
    fill: #FF79DA;
    cursor: pointer;
  }
}

.underline-title {
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-color: #99E2D0;
}

html {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  max-width: 1440px;
}

a {
  text-decoration: none;
}

p, h3 {
  margin: 10px;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: relative;
}
.header-container-logo {
  padding: 20px;
  height: 36px;
  width: 197px;
  box-sizing: content-box;
}
.header-container-localisation {
  background-color: #D2D2D2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 98.6%;
  gap: 15px;
}
.header-container-localisation-txt[type=text] {
  background-color: #D2D2D2;
  border: none;
  width: 95px;
}

.footer-container {
  height: 186px;
  background-color: #353535;
  color: #FFFFFF;
  padding: 5px;
}
.footer-container-nav {
  justify-content: flex-start;
}
.footer-container-nav-logo {
  margin-left: 50px;
  font-family: "Shrikhand", serif;
}
.footer-container-nav-ul {
  list-style-type: none;
}
.footer-container-nav-ul-li {
  margin: 10px;
  text-decoration: none;
}
.footer-container-nav-ul-li-img {
  width: 20px;
  height: 15px;
  color: white;
  fill: white;
}
.footer-container-nav-ul-li a {
  text-decoration: none;
  color: #FFFFFF;
}

@media (min-width: 1025px) {
  .footer-container {
    height: 114px;
  }
  .footer-container-nav {
    padding: 40px;
    display: flex;
    flex-direction: row-reverse;
  }
  .footer-container-nav-logo {
    margin-left: 100px;
    font-weight: 100;
  }
  .footer-container-nav-ul {
    display: flex;
    gap: 20px;
  }
}
.intro-la-palette {
  background-image: url("./../../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.intro-le-delice-des-sens {
  background-image: url("./../../img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.intro-la-note-enchantee {
  background-image: url("./../../img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.intro-a-la-francaise {
  background-image: url("./../../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.intro-container {
  background-color: #F6F6F6;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0px 20px 50px 20px;
}
.intro-container-title {
  font-size: 24px;
  font-weight: bold;
}
.intro-container-txt {
  margin: 10px 0px;
  font-size: 18px;
  font-weight: 300;
}
.intro-container-btn {
  margin-top: 25px;
}

.how-container {
  background-color: white;
  height: 400px;
}
.how-container-title {
  margin: 48px 80px 20px 30px;
  font-size: 24px;
  font-weight: 700;
}
.how-container-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}
.how-container-cards-card {
  background-color: #F6F6F6;
  height: 72px;
  width: 90%;
  display: flex;
  margin: 15px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  position: relative;
}
.how-container-cards-card:hover #store,
.how-container-cards-card:hover #list-ul,
.how-container-cards-card:hover #mobile-screen-button {
  fill: #9356DC;
}
.how-container-cards-card-icon {
  position: relative;
  right: 15px;
  width: 18px;
  height: 19px;
}
.how-container-cards-card-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}
.how-container-cards-card-number {
  width: 24px;
  height: 24px;
  background-color: var(--Primary, #9356DC);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14.182px;
  border-radius: 25px;
  position: absolute;
  left: -12px;
}

.restaurant-container {
  height: 1300px;
  background-color: #F6F6F6;
  width: 100%;
}
.restaurant-container-title {
  padding-top: 20px;
  margin: 48px 80px 0px 30px;
  font-size: 24px;
  font-weight: 700;
}
.restaurant-container-cards {
  height: 1000px;
  width: 90%;
  margin: auto;
}
.restaurant-container-cards-item {
  width: 100%;
  height: 251px;
  border-radius: 15px;
}
.restaurant-container-cards-item-box {
  position: relative;
}
.restaurant-container-cards-item-box-img {
  width: 100%;
  height: 200px;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant-container-cards-item-box-new {
  width: 80px;
  height: 29px;
  background-color: #99E2D0;
  color: #008766;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.restaurant-container-cards-item-contain {
  margin: 5px 0px 5px 10px;
  color: black;
  position: relative;
  line-height: 7px;
}
.restaurant-container-cards-item-contain-title {
  font-size: 18px;
}
.restaurant-container-cards-item-contain-txt {
  font-size: 17px;
  font-weight: 300;
  padding-bottom: 20px;
}
.restaurant-container-cards-item-contain-heart {
  position: absolute;
  bottom: 40px;
  right: 30px;
}

article {
  margin: 20px;
  background-color: white;
  border-radius: 15px;
}

@media (min-width: 1025px) {
  .how-container {
    height: 428.38px;
  }
  .how-container-title {
    margin-left: 100px;
  }
  .how-container-cards {
    flex-direction: column;
    margin: 50px 100px;
  }
  .restaurant-container {
    height: 830px;
  }
  .restaurant-container-title {
    margin-left: 120px;
  }
  .restaurant-container-cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 650px;
    gap: 5px;
  }
  .restaurant-container-cards-item {
    width: calc(43% - 30px);
  }
  .restaurant-container-cards-item-contain-title {
    margin: 16px;
  }
  .restaurant-container-cards-item-contain-txt {
    margin: 16px;
  }
  .card-1,
  .card-3 {
    margin-right: 25px;
  }
}
@media (min-width: 1224px) {
  .how-container {
    height: 223px;
  }
  .how-container-cards {
    flex-direction: row;
    margin: 50px 100px;
  }
}
body {
  margin: 0;
}

.intro {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 275px;
  width: 100%;
}
.intro-img {
  height: 275px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container-menu {
  height: 100%;
  background-color: #F6F6F6;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  margin-top: -50px;
  padding-bottom: 50px;
}
.container-menu-intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Shrikhand", serif;
  margin-top: 30px;
}
.container-menu-intro-title {
  margin-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container-menu-intro-heart {
  margin-right: 20px;
}
.container-menu .section-4 {
  height: 390px;
}
.container-menu-section {
  height: 300px;
  margin-bottom: 30px;
}
.container-menu-section-title {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  margin-left: 20px;
}
.container-menu-section-card {
  display: flex;
  justify-content: space-between;
  height: 69px;
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
  position: relative;
}
.container-menu-section-card:hover {
  cursor: pointer;
}
.container-menu-section-card .hover-container {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 0;
  border-radius: 0 15px 15px 0;
  background-color: #99E2D0;
  overflow: hidden;
  transition: width 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-menu-section-card:active .hover-container {
  width: 59px;
}
.container-menu-section-card:active .container-menu-section-card-price {
  transform: translateX(-50px);
}
.container-menu-section-card-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 29px;
  max-width: 70%;
}
.container-menu-section-card-content-title {
  margin: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  margin: 0;
}
.container-menu-section-card-content-txt {
  margin: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  margin: 0;
}
.container-menu-section-card-price {
  display: flex;
  flex-direction: column-reverse;
  padding: 12px;
  font-weight: bold;
}
.container-menu-btn {
  width: 30%;
  margin: auto;
}

.hover-container img {
  transition: transform 0.3s ease;
}

.container-menu-section-card:active .hover-container img {
  transform: rotate(360deg);
}

@media (min-width: 1025px) {
  .intro {
    height: 343px;
  }
  .container-menu {
    width: 60%;
    height: 1270px;
    margin: auto;
    margin-top: -50px;
  }
  .container-menu-section-card:hover .hover-container {
    width: 59px;
  }
  .container-menu-section-card:hover .container-menu-section-card-price {
    transform: translateX(-50px);
  }
  .container-menu-section-card:hover .hover-container img {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=main.css.map */