@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
.btn-explore {
  height: 50px;
  width: 218px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  border-radius: 25px;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
  transition: background 0.3s ease, box-shadow 0.3s ease;
}
.btn-explore:hover {
  background: var(--Button-Gradient-Hover, linear-gradient(193deg, #ae80e5 -11.44%, #fface8 123.93%));
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

input[type=checkbox] {
  display: none;
}

label {
  cursor: pointer;
}

input[type=checkbox]:checked + label svg path {
  fill: violet !important;
  stroke: black;
}

html {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  max-width: 1440px;
}

a {
  text-decoration: none;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: relative;
}
.header-container-arrow {
  position: absolute;
  left: 20px;
  top: 20px;
  visibility: hidden;
}
.header-container-logo {
  padding: 20px;
  height: 20px;
  width: 200px;
  box-sizing: content-box;
}
.header-container-localisation {
  background-color: #D2D2D2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  gap: 15px;
}

.header-container-arrow-2 {
  position: absolute;
  left: 20px;
  top: 20px;
  visibility: visible;
}
.header-container-localisation-2 {
  display: none;
}

.footer-container {
  height: 186px;
  background-color: #353535;
  color: #FFFFFF;
  padding: 20px;
}
.footer-container-nav {
  justify-content: flex-start;
}
.footer-container-nav-logo {
  margin-left: 50px;
  font-family: "Shrikhand", serif;
}
.footer-container-nav-ul {
  list-style-type: none;
}
.footer-container-nav-ul-li {
  margin: 10px;
  text-decoration: none;
}
.footer-container-nav-ul-li a {
  text-decoration: none;
  color: #FFFFFF;
}

@media (min-width: 1250px) {
  .footer-container {
    height: 114px;
  }
  .footer-container-nav {
    padding: 20px;
    display: flex;
    flex-direction: row-reverse;
  }
  .footer-container-nav-logo {
    margin-left: 100px;
  }
  .footer-container-nav-ul {
    display: flex;
    gap: 20px;
  }
}
.intro-container {
  background-color: #F6F6F6;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0px 20px;
}
.intro-container-title {
  font-size: 24px;
  font-weight: bold;
}
.intro-container-txt {
  margin: 10px 0px;
  font-size: 18px;
  font-weight: 300;
}
.intro-container-btn {
  margin-top: 25px;
}

.how-container {
  background-color: white;
  height: 400px;
}
.how-container-title {
  margin: 48px 80px 20px 30px;
  font-size: 24px;
  font-weight: 700;
}
.how-container-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}
@media (min-width: 1250px) {
  .how-container-cards {
    flex-direction: row;
    margin: 50px 180px;
  }
}
.how-container-cards-card {
  background-color: #F6F6F6;
  height: 72px;
  width: 90%;
  display: flex;
  margin: 15px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  position: relative;
}
.how-container-cards-card-icon {
  position: relative;
  right: 15px;
}
.how-container-cards-card-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}
.how-container-cards-card-number {
  width: 24px;
  height: 24px;
  background-color: var(--Primary, #9356DC);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14.182px;
  border-radius: 25px;
  position: absolute;
  left: -12px;
}

.restaurant-container {
  height: 1450px;
  background-color: #F6F6F6;
  width: 100%;
}
.restaurant-container-title {
  padding-top: 20px;
  margin: 48px 80px 0px 30px;
  font-size: 24px;
  font-weight: 700;
}
.restaurant-container-cards {
  height: 1000px;
  width: 90%;
  margin: auto;
}
.restaurant-container-cards-item {
  width: 100%;
  height: 251px;
  border-radius: 15px;
}
.restaurant-container-cards-item-box {
  position: relative;
}
.restaurant-container-cards-item-box-img {
  width: 100%;
  height: 200px;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant-container-cards-item-box-new {
  width: 80px;
  height: 29px;
  background-color: #99E2D0;
  color: #008766;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.restaurant-container-cards-item-contain {
  margin: 5px 0px 5px 10px;
  color: black;
  position: relative;
}
.restaurant-container-cards-item-contain-title {
  font-size: 18px;
}
.restaurant-container-cards-item-contain-txt {
  font-size: 17px;
  font-weight: 300;
}

article {
  margin: 20px;
  background-color: white;
  border-radius: 15px;
}

@media (min-width: 1250px) {
  .how-container {
    height: 228.38px;
  }
  .how-container-title {
    margin-left: 200px;
  }
  .restaurant-container {
    height: 830px;
  }
  .restaurant-container-title {
    margin-left: 200px;
  }
  .restaurant-container-cards {
    width: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 650px;
    gap: 5px;
  }
  .restaurant-container-cards-item {
    width: calc(43% - 30px);
  }
  .card-1, .card-3 {
    margin-right: 25px;
  }
}/*# sourceMappingURL=main.css.map */