@import'./utils/mixins';
@import'./components/loading';
@import'./components/button';
@import'./components/arrow';
@import'./components/heart';
@import'./base/normalize';
@import'./layout/header';
@import'./layout/footer';
@import'./page/home';
@import'./page/restaurant';