@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
/////// COULEURS/////////
$backGroundColorPrimary : #F6F6F6;
$backGroundColorSecondary : #D2D2D2;

///////POLICES//////
$fontFamilyText : 'Roboto', sans-serif;
$fontFamilyTitle: 'Shrikhand', serif;
