@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
/////// COULEURS/////////
$backGroundColorPrimary : #F6F6F6;
$backGroundColorSecondary : #D2D2D2;

///////POLICES//////
$fontFamilyText : 'Roboto', sans-serif;
$fontFamilyTitle: 'Shrikhand', serif;

///////URL IMAGES RESTAURANTS////////////
$urlLaPalette : './../../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg';
$urlLeDeliceDesSens : './../../img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg';
$urlLaNoteEnchantee : './../../img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg';
$urlALaFrancaise : './../../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg';

///////MEDIA QUERIES////////////
$mediaQueriesTablet : 1025px;
$mediaQueriesDesktop : 1250px;








