.btn-explore{
    height: 50px;
    width: 218px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    border-radius: 25px;
    background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));

}

.heart{
    height: 30px;
    width: 30px;
    background-color: aqua;
    position: absolute;
    top:15px;
    left: 90%;
}

.heart:active{
    background-color: red;
}

