.heart{

    width:23px;
    height:21px;
    fill: white;
    stroke :#101010;
    transition: fill 3s ease;

    &:hover{
        cursor: pointer;
    }

    &:active{
        fill:#FF79DA;
        // stroke: none;
   
    }

    @media (min-width : $mediaQueriesTablet) {
        
        &:hover{
            fill:#FF79DA;
            // stroke: none;
            cursor: pointer;
        }
    }
}