#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #99E2D0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeOut 3s forwards;
    animation-delay: 3s;
}

.loader {
    border: 6px solid #9356DC;
    border-top: 6px solid #FF79DA;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

.main-home {
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 3s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}