/* Initially hide all sections */
.container-menu-section {
    opacity: 0;
    transform: translateY(20px); /* A slight move down for an extra effect */
    visibility: hidden;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
        visibility: hidden;
    }
    to {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }
}



.container-menu-section:nth-child(1) {
    animation: fadeInUp 3s forwards;
    animation-delay: 1.5s;
}

.container-menu-section:nth-child(2) {
    animation: fadeInUp 3s forwards;
    animation-delay: 2s;
}

.container-menu-section:nth-child(3) {
    animation: fadeInUp 3s forwards;
    animation-delay: 2.5s;
}

.container-menu-section:nth-child(4) {
    animation: fadeInUp 3s forwards;
    animation-delay: 3s;
}

