html{
    // border: 1px solid red;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: $fontFamilyText;
    max-width: 1440px;
   
}

a{
    text-decoration: none;
    
}

p, h3{
    margin: 10px;
    // padding: 0;

}