
.intro-la-palette{
    background-image: url($urlLaPalette);
}

.intro-le-delice-des-sens{
    background-image: url($urlLeDeliceDesSens);
}

.intro-la-note-enchantee{
    background-image: url($urlLaNoteEnchantee);
}

.intro-a-la-francaise{
    background-image: url($urlALaFrancaise);
}