.footer-container{
    height:186px;
    background-color: #353535;
    color: #FFFFFF;
    padding: 20px;
    
    &-nav{
        // padding: 20px;
        justify-content: flex-start;

        &-logo{
            margin-left: 50px;
            font-family: $fontFamilyTitle;
        }

        &-ul{
            list-style-type: none;
            

            &-li{
                margin: 10px;
                text-decoration: none;

                &-img{
                    width: 20px;
                    height: 15px;
                    color: white;
                    fill: white;
                    
                }
            }
            &-li a{
                text-decoration: none;
                color: #FFFFFF;
            }

        }
    }
}

@media (min-width : 1250px){
    .footer-container{

        height: 114px;

        &-nav{
            padding: 20px;
        display: flex;
        // justify-content: flex-end;
        flex-direction: row-reverse;
        
       

        &-logo{
            margin-left: 100px;
        }

        &-ul{
            display: flex;
            gap: 20px;
        }
    }
    }
} 
    
