.header-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // width: 100%;
    margin: 0;
    position: relative;

    // &-arrow{
    //     position: absolute;
    //     left: 20px;
    //     top: 20px;
    //       visibility: hidden ;
    // }
    &-logo{
        padding: 20px;
        height: 36px;
        width: 197px;
        box-sizing: content-box;
        
    }

    &-localisation{
        background-color: $backGroundColorSecondary;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        width: 98.6%;
        gap: 15px;
        
        
        // box-sizing: border-box;

        // &-img{
            
        //     align-items: center;
        //     justify-content: center;
        //     margin-left: 38%;

            
          
        // }
        &-txt{
            &[type="text"]{
                background-color: $backGroundColorSecondary;
                border: none;
                width: 95px;

            }
        }
    }
}