.header-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // width: 100%;
    margin: 0;
    position: relative;

    &-arrow{
        position: absolute;
        left: 20px;
        top: 20px;
          visibility: hidden ;
    }
    &-logo{
        padding: 20px;
        height: 20px;
        width: 200px;
        box-sizing: content-box;
    }

    &-localisation{
        background-color: $backGroundColorSecondary;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        width: 100%;
        gap: 15px;
        
        // box-sizing: border-box;
    }
}